.vscode/**
.vscode-test/**
.devcontainer/**
src/**
images/**
out/test/**
.gitignore
.nvmrc
eslint.config.mjs
jest.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
