.vscode/**
.vscode-test/**
.devcontainer/**
.github/**
src/**
images/**
out/test/**
.gitattributes
.gitignore
.nvmrc
eslint.config.mjs
jest.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
README.*.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
**/*.mov
**/*.mp4
